In [1]:
import pandas as pd

### Exercice 1: Chargement de donnees

In [ ]:
titanic_data = pd.read_csv('../source/titanic.csv')
titanic_data.head()

### Exercice 2 - Exploration des donnees

In [ ]:
n_passengers = len(titanic_data.PassengerId)
n_passengers

In [ ]:
len(titanic_data[titanic_data.Survived == 1])

### Exercice 3 - Analyse des ages

In [ ]:
avg_age = titanic_data.Age.mean()
avg_age.item()

In [ ]:
most_frequent_age = titanic_data.Age.value_counts().max().item()
most_frequent_age

### Exercice 4 - Filtrage des donnees

In [ ]:
survived_df = titanic_data[titanic_data.Survived == 1]
survived_df.head()

In [ ]:
non_survived_df = titanic_data[titanic_data.Survived == 0]
non_survived_df.head()

### Exercice 5 - Statistiques des tarifs

In [ ]:
fare = titanic_data.Fare.describe()
fare

### Exercice 6 - Traitement des valeurs manquantes

In [ ]:
sales_df = pd.read_csv('../source/sales_data.csv')
sales_df.head()

In [ ]:
missing_values = sales_df.isna().sum()
missing_values

### Exercice 7 - Suppression des doublons

In [ ]:
temp_df = pd.read_csv('../source/GlobalLandTemperaturesByCity.csv')
temp_df.head()
temp_df.shape

In [ ]:
duplicate_df = temp_df.drop_duplicates()
duplicate_df.shape

In [ ]:
temp_df.shape == duplicate_df.shape

In [ ]:
temp_df.AverageTemperature.describe()

### Exercice 8 - Remplacement des valeurs incorrects

In [ ]:
temperature_df = pd.read_csv('../source/GlobalLandTemperaturesByCity.csv')
temperature_df.AverageTemperature = temperature_df.AverageTemperature.abs()
temperature_df.AverageTemperature.describe()

### Exercice 9 - Extraction des donnees

In [ ]:
emails_df = pd.read_csv('../source/email_jetable.csv')
emails_df.head()

In [ ]:
emails_df.columns = ['index', 'emails']
emails_df.set_index('index')

In [ ]:
emails_df['extension'] = emails_df.emails.apply(lambda x : x.split('.')[-1])
emails_df

In [ ]:
emails_df.extension.unique()

### Exercice 10 - Transformation de donnees

In [2]:
grades_df = pd.read_csv('../source/student_grades.csv')
grades_df.columns = ['ID','salle','note']
grades_df

           ID  salle note
0   401767594      3   B-
1   678665086      4   A+
2   678665086      3   A+
3   553725811      2    C
4   678665086      1    B
5   886308195      1    A
6   103066521      2    C
7   103066521      3   C-
8   821568627      4    D
9   821568627      2   A+
10  821568627      1    B
11  206208438      2    A
12  206208438      1   C+
13  341324754      2   D-
14  341324754      1   A-
15  103066521      4    A
16  262019426      2    B
17  262019426      3    C
18  622665098      1    A
19  622665098      2   A-

In [7]:
letter = 'F E D C B A'
note_dec = letter.split(' ')
new_note_dec = []
for i, ch in enumerate(note_dec):
    new_note_dec.append(ch+'-')
    new_note_dec.append(ch)
    new_note_dec.append(ch+'+')

note_to_index_map = {note: index for index, note in enumerate(new_note_dec)}
note_to_index_map

{'F-': 0,
 'F': 1,
 'F+': 2,
 'E-': 3,
 'E': 4,
 'E+': 5,
 'D-': 6,
 'D': 7,
 'D+': 8,
 'C-': 9,
 'C': 10,
 'C+': 11,
 'B-': 12,
 'B': 13,
 'B+': 14,
 'A-': 15,
 'A': 16,
 'A+': 17}

In [16]:
grades_df['note_dec'] = grades_df['note'].map(note_to_index_map)
grades_df['note_dec'] = grades_df['note_dec']/18 * 20
grades_df['result'] = grades_df['note_dec'] >= 10
grades_df['result'] = grades_df['result'].apply(lambda x : "Réussite" if x is True else "Echec" )
grades_df

           ID  salle note   note_dec    result
0   401767594      3   B-  13.333333  Réussite
1   678665086      4   A+  18.888889  Réussite
2   678665086      3   A+  18.888889  Réussite
3   553725811      2    C  11.111111  Réussite
4   678665086      1    B  14.444444  Réussite
5   886308195      1    A  17.777778  Réussite
6   103066521      2    C  11.111111  Réussite
7   103066521      3   C-  10.000000  Réussite
8   821568627      4    D   7.777778     Echec
9   821568627      2   A+  18.888889  Réussite
10  821568627      1    B  14.444444  Réussite
11  206208438      2    A  17.777778  Réussite
12  206208438      1   C+  12.222222  Réussite
13  341324754      2   D-   6.666667     Echec
14  341324754      1   A-  16.666667  Réussite
15  103066521      4    A  17.777778  Réussite
16  262019426      2    B  14.444444  Réussite
17  262019426      3    C  11.111111  Réussite
18  622665098      1    A  17.777778  Réussite
19  622665098      2   A-  16.666667  Réussite